.titre-1 {
  color: white;
  margin-right: auto;
}
.titre1 {
  withe-space: normal;
  margin-left: 50px;
  font-size: 50px;
  texte-align :left;
  font-family:'Peachy', sans-serif ;
}

.para-mart {
  margin-left: 40px;
  margin-top: -450px;
  padding: 40px;
}
h1{
  font-family: 'Kollektif', sans-serif ;
  font-size: 30px;
}
h2{
  font-family: 'Kollektif', sans-serif ;
}
h3{
  font-family: 'Peachy', sans-serif ;
  font-size: 30px;
}

