@import'Component3/image3.css';
@import'Component3/texte3.css';

body {
  background-color: #F7F7F7;
}

  .head-p {
  text-align: center;
  position: relative;
  color : white;
  margin-left: 250px;
  margin-right: 250px;
}

.début{
   background-color: #0EC7FF;
}
.menu-list {
  display:flex;
  padding: 0;
  flex-direction:row-reverse;
  font-family:Kollektif , regular ;
  list-style-type: none;
}
.menu-list a {
  display: block;
  min-width: 120px;
}
.head {
	margin-top: -150px;
}


